.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .report-field-class {
    margin-bottom: 50px;
  }

  mat-form-field {
    width: 50%;
  }

  textarea {
    height: 200px;
  }
}
