<app-title-box-container [dynamicTitle]="title" class="stepper-box-container">
  <mat-stepper [linear]="isLinear" #stepper class="stepper-container">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choisir la matière/module</ng-template>
        <mat-form-field appearance="fill" class="stepper-field">
          <mat-label>Module/Matière</mat-label>
          <mat-select formControlName="selectedModule">
            <mat-option *ngFor="let module of modules" [value]="module">{{ module.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-stepper">
          <button mat-button matStepperPrevious>Annuler</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Ajouter la note">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ajouter la note</ng-template>
        <mat-form-field appearance="fill" class="stepper-field-grade">
          <mat-label>Note</mat-label>
          <mat-select formControlName="selectedGrade">
            <mat-option value="6">6</mat-option>
            <mat-option value="5.5">5.5</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="4.5">4.5</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="3.5">3.5</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="2.5">2.5</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="1.5">1.5</mat-option>
            <mat-option value="1">1</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-stepper">
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validation</ng-template>
      <p>Vous allez ajouter la note  au module  est-ce que vous validez ?</p>
      <div class="button-stepper">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button>Valider</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-title-box-container>
