.stepper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-field {
  width: 100%;
}

.button-stepper {
  display: flex;
  justify-content: space-between;
}



