<h1>Se connecter à AfterGoodNotes</h1>
<mat-card class="card-container">
  <mat-card-content class="card-content">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Entrer votre email</mat-label>
        <input
          matInput
          placeholder="prenom.nom@eduvaud.ch"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de Passe</mat-label>
        <input
          matInput
          placeholder="Mot de passe"
          [formControl]="password"
          required
        />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <div class="reset-password-link">
        <a routerLink="/reset-password">Mot de passe oublié ?</a>
      </div>
      <button mat-raised-button color="primary">Se connecter</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="card-container">
  <mat-card-content class="card-content">
    <div class="register-link">
      Pas encore inscrit ?
      <a routerLink="/sign-up">Créer un compte</a>
    </div>
  </mat-card-content>
</mat-card>
