h1 {
  text-align: center;
  padding-top: 150px;
  margin-bottom: 1em;
  font-size: 2em;
}

.card-container {
  margin: auto;
  margin-bottom: 2em;
  max-width: 400px;
  padding: 1em;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .card-content {
    display: flex;
    flex-direction: column;

    .register-link {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        margin-bottom: 1em;
        width: 100%;

        input {
          width: 100%;
        }

        .mat-error {
          font-size: 12px;
          margin-top: 0.25em;
        }
      }

      .reset-password-link {
        text-align: left;
        margin: 2em 0;
      }

      button {
        width: 100%;
      }
    }
  }
}
