<mat-card class="card-container">
  <mat-card-content class="card-content">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="prenom.nom@eduvaud.ch"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de Passe</mat-label>
        <input
          matInput
          placeholder="Mot de passe"
          [formControl]="password"
          required
        />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Se connecter</button>
    </form>
  </mat-card-content>
</mat-card>
