<app-sidebar>
  <!------------------------------------------------------- CFC ------------------------------------------------------->
  <app-title-box-container [dynamicTitle]="cfc" id="cfc">

  </app-title-box-container>

  <!------------------------------------------------ Culture Generale ------------------------------------------------->
  <app-title-box-container [dynamicTitle]="cultureG">

  </app-title-box-container>

  <!-------------------------------------------------- Informatique --------------------------------------------------->
  <app-title-box-container [dynamicTitle]="informatique">

  </app-title-box-container>

  <!-------------------------------------------------- Base Elargie --------------------------------------------------->
  <app-title-box-container [dynamicTitle]="baseElargie">

  </app-title-box-container>
</app-sidebar>
