.container {
  width: 80%;
  height: fit-content;
  margin: auto;

  table {

    th {
      text-align: start;
    }

    a {
      color: black;
      padding-top: 1px;


      span {
        font-size: 16px;
      }
    }

    #editColumn {
      text-align: end;
    }

    td {

      font-size: 10px;
    }
  }
}



