.container {
  width: auto;
  text-align: center;

  table {
    box-shadow: none;

    th {
      text-align: start;
    }

    a {
      color: black;
      padding-top: 1px;

      span {
        font-size: 16px;
      }
    }

    #editColumn {
      text-align: end;
    }

    td {
      font-size: 13px;
    }

    .help {
      font-size: 10px !important;
    }
  }

  button {
    background-color: #4350af;
    color: white;
    border: none;
    padding: 10px 13px;
    border-radius: 5px;
    margin-top: 50px;
  }
}



