<app-sidebar>
  <app-title-box-container [dynamicTitle]="title" class="stepper-box-container">
    <mat-stepper #stepper [linear]="isLinear" class="stepper-container">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Choisir la matière/module</ng-template>
          <mat-form-field appearance="fill" class="stepper-field">
            <mat-label>Module/Matière</mat-label>
            <mat-select>
              <mat-option value="option"
                >Module 165 - Utiliser des bases de données NoSQL</mat-option
              >
              <mat-option value="option"
                >Module 254 - Décrire des processus métier dans son propre
                environnement professionnel
              </mat-option>
              <mat-option value="option"
                >Module 322 - Concevoir et implémenter des interfaces
                utilisateur</mat-option
              >
              <mat-option value="option"
                >Module 346 - Concevoir et réaliser des solutions
                cloud</mat-option
              >
              <mat-option value="option"
                >Module 426 - Développer un logiciel avec des méthodes
                agiles</mat-option
              >
              <mat-option value="option"
                >Module 114 - Mettre en œuvre des systèmes de codification, de
                compression et d'encryptage
              </mat-option>
              <mat-option value="option"
                >Module 320 - Programmation orientée objet</mat-option
              >
              <mat-option value="option"
                >Module 347 - Utiliser un service avec des
                conteneurs</mat-option
              >
              <mat-option value="option">Anglais</mat-option>
              <mat-option value="option">Math</mat-option>
              <mat-option value="option">ECG</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-stepper">
            <button mat-button matStepperPrevious>Annuler</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Ajouter la note">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Modifier la note</ng-template>
          <mat-form-field appearance="fill" class="stepper-field-grade">
            <mat-label>Note</mat-label>
            <mat-select>
              <mat-option value="option">6</mat-option>
              <mat-option value="option">5,5</mat-option>
              <mat-option value="option">5</mat-option>
              <mat-option value="option">4,5</mat-option>
              <mat-option value="option">4</mat-option>
              <mat-option value="option">3,5</mat-option>
              <mat-option value="option">3</mat-option>
              <mat-option value="option">2,5</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">1,5</mat-option>
              <mat-option value="option">1</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-stepper">
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Validation</ng-template>
        <p>
          Vous allez modifier la note du Module 431 - Exécuter des mandats de
          manière autonome dans un environnement informatique de 5 à 5.5, est-ce
          que vous valider ?
        </p>
        <div class="button-stepper">
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button>Valider</button>
        </div>
      </mat-step>
    </mat-stepper>
  </app-title-box-container>
</app-sidebar>
