<mat-sidenav-container class="sidebar-container" color="primary">
  <mat-sidenav #sidenav class="sidebar" mode="side" opened>
    <ul>
      <li>
        <a color="accent" href="#" mat-raised-button>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a color="primary" href="#" mat-raised-button>
          <i class="material-icons">school</i>
          <p>1ère année</p>
        </a>
      </li>
      <li>
        <a color="primary" href="#" mat-raised-button>
          <i class="material-icons">school</i>
          <p>2ème années</p>
        </a>
      </li>
      <li>
        <a color="primary" href="#" mat-raised-button>
          <i class="material-icons">school</i>
          <p>3ème années</p>
        </a>
      </li>
      <li>
        <a color="primary" href="#" mat-raised-button>
          <i class="material-icons">school</i>
          <p>4ème années</p>
        </a>
      </li>
      <li>
        <a color="primary" href="#" mat-raised-button>
          <i class="material-icons">person</i>
          <p>Profil</p>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <ng-content/>
</mat-sidenav-container>
