<div class="sidebar">
  <ul>
    <li>
      <a href="">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="material-icons"> </i>
        <p>1ère année</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="material-icons"> </i>
        <p>2ème années</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="material-icons"> </i>
        <p>3ème années</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="material-icons"> </i>
        <p>4ème années</p>
      </a>
    </li>
    <li class="profil">
      <a href="">
        <i class="material-icons">person</i>
        <p>Profil</p>
      </a>
    </li>
  </ul>
</div>
