$bg-color: #FAFAFA;
$primary-color: #FF4081;
$accent-color: #F50057;
$warn-color: #F44336;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: $bg-color;
}

li {
  list-style-type: none;

  a {
    text-decoration: none;
  }
}

.sidebar-container {
  height: 100vh;
}



