<h1>Réinisitalisez votre mot de passe</h1>
<mat-card class="card-container">
  <mat-card-content class="card-content">
    <div>
      Entrez l'adresse e-mail vérifiée de votre compte utilisateur et nous vous
      enverrons un lien de réinitialisation de mot de passe.
    </div>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="prenom.nom@eduvaud.ch"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error></mat-form-field
      >
      <button mat-raised-button color="primary">
        Envoyer un email de réinitialisation de mot de passe
      </button>
    </form></mat-card-content
  ></mat-card
>
