.container {
  width: auto;

  table {
    box-shadow: none;

    th {
      text-align: start;
    }

    a {
      color: black;
      padding-top: 1px;

      span {
        font-size: 16px;
      }
    }

    #editColumn {
      text-align: end;
    }

    td {
      font-size: 13px;
    }

    .help {
      font-size: 10px !important;
    }
  }
}
