<div class="container">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!-------------------------------------------------- Name Column -------------------------------------------------->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef id="nameColumn" mat-header-cell>Module</th>
      <td *matCellDef="let element" mat-cell> {{ element.name }}
        <a href="#">
          <span class="material-icons help">help</span>
        </a>
      </td>
    </ng-container>


    <!-------------------------------------------------- Note Column -------------------------------------------------->
    <ng-container matColumnDef="note">
      <th *matHeaderCellDef id="noteColumn" mat-header-cell>Note</th>
      <td *matCellDef="let element" mat-cell> {{ element.grade }} </td>
    </ng-container>


    <!-------------------------------------------------- Edit Column -------------------------------------------------->
    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef id="editColumn" mat-header-cell>
        <a href="#">
          <span class="material-icons">edit</span>
        </a>
      </th>
      <td *matCellDef="let element" mat-cell></td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
